body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(173, 30, 30); 
    text-align: center;
    width: 100%;
    height: 100%;


}
.container {
    min-width: 80vw;
    max-width: 1000px;
    background-color: #f7f0f0;
    border: 0px;
    margin: 30px auto;
    border-radius: 35px;
    padding: 5px;
}

.estudantes-img:hover {
    transform: scale(1.04);
    cursor:pointer;
    transform: rotate(359deg) scale(1.05);

    transition: 1.5s;
}

h1 {
    font-size: 3rem;
    margin-top: 20px;
    
}

 h1:hover {
    transform: scale(1.04);
    cursor:pointer;
    transform: rotate(359deg) scale(1.05);

    transition: 1.5s;
}

.estudantes-img {
    width: 500px;
    max-width: 50%;
    margin: 10px auto;
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: center;

}

.descricao {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto 40px auto;
    line-height: 1.6;

}
